In [4]:
import pandas as pd
import numpy as np

In [178]:
prod_data_train = pd.read_csv('production_data_train.csv')
prod_data_test = pd.read_csv('production_data_test.csv')
ihs_data = pd.read_csv('IHS_data.csv')
harmony_data = pd.read_csv('Harmony_data.csv')

In [179]:
def preprocess(prod_data, wells_data):
    prod_data = prod_data.drop_duplicates(subset=['API', 'Month', 'Year'], keep='last', inplace=False)
    
    # adding zeros to API
    prod_data['API'] = (prod_data['API']).astype(str)
    prod_data['API'] = prod_data['API'].apply(lambda x: x.zfill(14))
    
    # adding zeros to API
    wells_data['API'] = (wells_data['API']).astype(str)
    wells_data['API'] = wells_data['API'].apply(lambda x: x.zfill(14))
    
    # storing peak records 
    idx_max = prod_data.groupby(['API'])['Liquid'].transform('max') == prod_data['Liquid']
    max_month_prod_data = prod_data[idx_max].drop_duplicates(subset='API', keep='first', inplace=False)
    list_indices = ['API', 'Year', 'Month', 'Liquid']
    max_month_prod_data = max_month_prod_data[list_indices]
    max_month_prod_data = max_month_prod_data.rename(columns={"Year": "Max_Year", "Month": "Max_Month", "Liquid": "Max_Liquid"})
    
    # merging the two dataframes to get max month and max year
    new_prod_data_orig = prod_data.merge(max_month_prod_data, on='API')
    
    # Remove Pre-Peak Months (clean up)
    new_prod_data = new_prod_data_orig[((new_prod_data_orig['Year'] == new_prod_data_orig['Max_Year']))]
    new_prod_data = new_prod_data[(new_prod_data['Month'] >= new_prod_data['Max_Month'])]

    new_prod_data2 = new_prod_data_orig[((new_prod_data_orig['Year'] > new_prod_data_orig['Max_Year']))]
    new_prod_data3 = new_prod_data.append(new_prod_data2)
    
    # adding month index column to post peak production data
    new_prod_data3['index'] = calc_month_index(new_prod_data3['Max_Year'], new_prod_data3['Max_Month'], new_prod_data3['Year'], new_prod_data3['Month'])
    indexed_prod_data = new_prod_data3
    
    # removed nullified SpudDates and CompletionDates
    wells_data = wells_data[~((wells_data['SpudDate'].isnull()) & (wells_data['CompletionDate'].isnull()))]
    
    # replacing null CompletionDates with SpudDates + six months
    wells_data['SpudDate'] = pd.to_datetime(wells_data['SpudDate'])
    wells_data['CompletionDate'] = pd.to_datetime(wells_data['CompletionDate'])
    wells_data.loc[wells_data['CompletionDate'].isnull(), 'CompletionDate'] = wells_data['SpudDate'] + timedelta(days=170) 
    
    # replacing StateNames with indices
    unique_state_names = wells_data.StateName.unique()
    unique_state_ids = list(range(0, len(unique_state_names)))
    dict_state_names = dict(zip( unique_state_names, unique_state_ids))
    wells_data['StateName'] = wells_data['StateName'].map(dict_state_names)
                            
    # replacing CountyNames with indices                         
    unique_county_names = wells_data.CountyName.unique()
    unique_county_ids = list(range(0, len(unique_county_names)))
    dict_county_names = dict(zip(unique_county_names, unique_county_ids))
    wells_data['CountyName'] = wells_data['CountyName'].map(dict_county_names)
    
    # replacing BasinName with indices
    unique_basin_names = wells_data.BasinName.unique()
    unique_basin_ids = list(range(0, len(unique_basin_names)))
    dict_basin_names = dict(zip(unique_basin_names, unique_basin_ids))
    wells_data['BasinName'] = wells_data['BasinName'].map(dict_basin_names)
    
    #replacing Formation with indices
    unique_formation_names = wells_data.formation.unique()
    unique_formation_ids = list(range(0, len(unique_formation_names)))
    dict_formation_names = dict(zip(unique_formation_names, unique_formation_ids))
    wells_data['formation'] = wells_data['formation'].map(dict_formation_names)
        
#     wells_data[wells_data['CompletionDate'] >= pd.Timestamp(2014, 1 , 1)]['CompletionDate'] = 1  
#     wells_data[wells_data['CompletionDate'] !=  1]['CompletionDate'] = 0 
#     print(wells_data[wells_data['CompletionDate'] < pd.Timestamp(2014, 1 , 1)])

    indexed_prod_data = indexed_prod_data.merge(wells_data, on='API')
    
    three_years_data = indexed_prod_data[(indexed_prod_data['Max_Year'] < 2016) |((indexed_prod_data['Max_Year'] == 2016) & (indexed_prod_data['Max_Month'] == 1))] 
    three_years_data = three_years_data[three_years_data['index'] <= 36] 
    
    return three_years_data

In [180]:
# calculates month index
def calc_month_index(max_year, max_month, year, month):
    return (12 - max_month + (year - max_year - 1)*12 + month) * (year != max_year) + (year == max_year) * (month - max_month) + 1

In [181]:
processed_train = preprocess(prod_data_train, ihs_data)
processed_test = preprocess(prod_data_test, ihs_data)

harmony_data['API'] = (harmony_data['API']).astype(str)
harmony_data['API'] = harmony_data['API'].apply(lambda x: x.zfill(14))

harmony_data[harmony_data['WATER_PER_FOOT'].isnull()] = 0
harmony_data[harmony_data['PROP_PER_FOOT'].isnull()] = 0

complete_prod_train = processed_train.merge(harmony_data, on='API')
complete_prod_test = processed_test.merge(harmony_data, on='API')

C:\Users\Nourhan Khaled\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Nourhan Khaled\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [182]:
pd.set_option('display.max_columns', 500)
complete_prod_train

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,Max_Year,Max_Month,Max_Liquid,index,PermitDate,SpudDate,CompletionDate,FirstProductionDate,operatorNameIHS,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,BottomHoleLatitude,BottomHoleLongitude,LATERAL_LENGTH_BLEND,PROP_PER_FOOT,WATER_PER_FOOT,GOR_30,GOR_60,GOR_90
0,33053063590000,2015,4,18796,21796,1.159608,7255,0.385986,30,2016-08-11 14:03:14.000,2015,4,18796,1,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
1,33053063590000,2015,5,14626,15988,1.093122,4213,0.288049,31,2016-08-11 14:03:14.000,2015,4,18796,2,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
2,33053063590000,2015,6,10421,12311,1.181365,2717,0.260724,30,2016-04-06 13:47:11.383,2015,4,18796,3,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
3,33053063590000,2015,7,9777,11254,1.151069,2399,0.245372,31,2016-04-06 13:47:11.383,2015,4,18796,4,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
4,33053063590000,2015,8,10613,12188,1.148403,2742,0.258362,31,2016-04-06 13:47:11.383,2015,4,18796,5,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
5,33053063590000,2015,9,13119,17739,1.352161,2903,0.221282,30,2016-04-06 13:47:11.383,2015,4,18796,6,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
6,33053063590000,2015,10,10318,12979,1.257899,2286,0.221555,31,2016-04-06 13:47:11.383,2015,4,18796,7,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
7,33053063590000,2015,11,8126,9642,1.186562,1795,0.220896,30,2016-04-06 13:47:11.383,2015,4,18796,8,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
8,33053063590000,2015,12,7527,7570,1.005713,1679,0.223064,31,2016-08-11 14:03:14.000,2015,4,18796,9,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
9,33053063590000,2016,1,7934,8823,1.112049,1943,0.244895,31,2016-08-11 14:03:14.000,2015,4,18796,10,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
10,33053063590000,2016,2,7337,10581,1.442143,1783,0.243015,28,2018-03-04 08:03:01.150,2015,4,18796,11,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
11,33053063590000,2016,3,6793,8367,1.231709,1803,0.265420,29,2016-05-05 14:00:57.840,2015,4,18796,12,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
12,33053063590000,2016,4,7325,11139,1.520683,1798,0.245461,30,2016-06-09 14:00:59.117,2015,4,18796,13,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
13,33053063590000,2016,5,7381,15601,2.113670,1975,0.267579,31,2016-07-07 14:00:28.580,2015,4,18796,14,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
14,33053063590000,2016,6,5975,11362,1.901590,1610,0.269456,30,2016-08-11 14:03:14.000,2015,4,18796,15,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
15,33053063590000,2016,7,5811,9430,1.622784,1523,0.262089,31,2018-03-11 08:04:22.090,2015,4,18796,16,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
16,33053063590000,2016,8,5390,8475,1.572356,1417,0.262894,31,2016-10-06 14:01:18.193,2015,4,18796,17,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
17,33053063590000,2016,9,4626,6954,1.503243,1223,0.264375,30,2016-11-10 14:03:04.213,2015,4,18796,18,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
18,33053063590000,2016,10,3432,4814,1.402681,899,0.261946,24,2016-12-08 14:02:01.630,2015,4,18796,19,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
19,33053063590000,2016,11,751,696,0.926764,1269,1.689747,20,2018-03-11 08:04:22.090,2015,4,18796,20,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
20,33053063590000,2016,12,3688,3998,1.084056,2066,0.560195,31,2018-03-11 08:04:22.090,2015,4,18796,21,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
21,33053063590000,2017,1,3241,3024,0.933045,1159,0.357606,30,2018-04-29 08:04:06.607,2015,4,18796,22,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
22,33053063590000,2017,2,1795,1640,0.913649,384,0.213928,28,2018-04-29 08:04:06.607,2015,4,18796,23,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
23,33053063590000,2017,3,1624,1590,0.979064,366,0.225369,30,2017-05-25 14:00:17.780,2015,4,18796,24,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
24,33053063590000,2017,4,829,941,1.135103,195,0.235223,20,2017-06-08 14:00:10.413,2015,4,18796,25,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
25,33053063590000,2017,5,1912,1964,1.027197,2619,1.369770,19,2017-07-06 14:00:14.287,2015,4,18796,26,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
26,33053063590000,2017,6,6338,7363,1.161723,2617,0.412906,30,2017-08-10 14:01:05.900,2015,4,18796,27,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
27,33053063590000,2017,7,6182,7996,1.293433,2005,0.324329,31,2017-09-14 14:03:07.110,2015,4,18796,28,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
28,33053063590000,2017,8,5345,7149,1.337512,1643,0.307390,31,2018-01-14 08:02:19.120,2015,4,18796,29,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
29,33053063590000,2017,9,4864,6915,1.421669,1484,0.305099,30,2017-11-12 08:17:53.457,2015,4,18796,30,2014-10-09,2015-01-03,2015-03-17,2015-03-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,0,0,0,2,47.702514,-102.861247,47.67482,-102.85867,9762,316.453,314.3408,1416.471590,1448.746335,1469.060055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269250,42301324920100,2016,1,4073,4162,1.021851,22479,5.519028,0,2019-03-10 13:58:15.553,2015,7,16870,7,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269251,42301324920100,2016,2,5607,4080,0.727662,30882,5.507758,0,2019-03-10 13:58:15.553,2015,7,16870,8,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269252,42301324920100,2016,3,3738,3609,0.965490,22335,5.975120,0,2019-03-10 13:58:15.553,2015,7,16870,9,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269253,42301324920100,2016,4,3852,4320,1.121495,23172,6.015576,0,2019-03-10 13:58:15.553,2015,7,16870,10,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269254,42301324920100,2016,5,4132,4838,1.170862,24854,6.015005,0,2019-03-10 13:58:15.553,2015,7,16870,11,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269255,42301324920100,2016,6,3832,3906,1.019311,24848,6.484342,0,2019-03-10 13:58:15.553,2015,7,16870,12,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269256,42301324920100,2016,7,3801,3684,0.969219,24629,6.479611,0,2019-03-10 13:58:15.553,2015,7,16870,13,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269257,42301324920100,2016,8,3606,4363,1.209928,23501,6.517194,0,2019-03-10 13:58:15.553,2015,7,16870,14,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269258,42301324920100,2016,9,3335,6202,1.859670,21723,6.513643,0,2019-03-10 13:58:15.553,2015,7,16870,15,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269259,42301324920100,2016,10,3155,6221,1.971791,22023,6.980349,0,2019-03-10 13:58:15.553,2015,7,16870,16,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269260,42301324920100,2016,11,2687,6382,2.375140,18719,6.966505,0,2019-03-10 13:58:15.553,2015,7,16870,17,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269261,42301324920100,2016,12,3070,5669,1.846580,21490,7.000000,0,2019-03-10 13:58:15.553,2015,7,16870,18,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269262,42301324920100,2017,1,2162,4021,1.859852,15072,6.971323,0,2019-03-10 13:58:15.553,2015,7,16870,19,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269263,42301324920100,2017,2,1796,3636,2.024499,13498,7.515590,0,2019-03-10 13:58:15.553,2015,7,16870,20,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269264,42301324920100,2017,3,3542,5806,1.639187,26627,7.517504,0,2019-03-10 13:58:15.553,2015,7,16870,21,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269265,42301324920100,2017,4,1615,4372,2.707121,12083,7.481734,0,2019-03-10 13:58:15.553,2015,7,16870,22,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269266,42301324920100,2017,5,2645,4511,1.705482,19915,7.529301,0,2019-03-10 13:58:15.553,2015,7,16870,23,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269267,42301324920100,2017,6,2633,1986,0.754273,21004,7.977212,0,2019-03-10 13:58:15.553,2015,7,16870,24,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269268,42301324920100,2017,7,1421,2205,1.551724,11337,7.978184,0,2019-03-10 13:58:15.553,2015,7,16870,25,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269269,42301324920100,2017,8,2487,4485,1.803378,19958,8.024930,0,2019-03-10 13:58:15.553,2015,7,16870,26,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269270,42301324920100,2017,9,1007,2896,2.875869,7967,7.911619,0,2019-03-10 13:58:15.553,2015,7,16870,27,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269271,42301324920100,2017,10,1469,5380,3.662355,12596,8.574541,0,2019-03-10 13:58:15.553,2015,7,16870,28,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269272,42301324920100,2017,11,2924,4636,1.585499,24959,8.535910,0,2019-03-10 13:58:15.553,2015,7,16870,29,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269273,42301324920100,2017,12,2772,4049,1.460678,23671,8.539322,0,2019-03-10 13:58:15.553,2015,7,16870,30,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269274,42301324920100,2018,1,1974,3006,1.522796,16686,8.452888,0,2019-03-10 13:58:15.553,2015,7,16870,31,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269275,42301324920100,2018,2,4791,6731,1.404926,43147,9.005844,0,2019-03-10 13:58:15.553,2015,7,16870,32,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269276,42301324920100,2018,3,1759,2928,1.664582,15769,8.964753,0,2019-03-10 13:58:15.553,2015,7,16870,33,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269277,42301324920100,2018,4,3571,3083,0.863344,32145,9.001680,0,2019-03-10 13:58:15.553,2015,7,16870,34,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269278,42301324920100,2018,5,2387,10603,4.441977,21452,8.987013,0,2019-03-10 13:58:15.553,2015,7,16870,35,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599
269279,42301324920100,2018,6,4531,8700,1.920106,40840,9.013463,0,2019-03-10 13:58:15.553,2015,7,16870,36,2015-01-09,2015-03-11,2015-06-27,2015-06-01 00:00:00.000,COG OPERATING LIMITED LIABILITY CORP,1,1,2,11,31.945241,-103.452760,31.92578,-103.44529,6515,1435.146,1436.9690,1460.758743,1454.473218,1491.600599

In [183]:
cols = ['Year', 'Month', 'Gas', 'Water', 'Max_Year','operatorNameIHS', 'CompletionDate', 'FirstProductionDate', 'Max_Liquid', 'Max_Month', 'SpudDate', 'PermitDate', '_LastUpdate']
complete_prod_train = complete_prod_train.drop(cols, axis=1)
complete_prod_test = complete_prod_test.drop(cols, axis=1)

In [193]:
def data_prep(prod_data, arr_inp, arr_out):
    prod_data = prod_data.groupby('API').apply(generate_input, arr_inp, arr_out)

In [194]:
def generate_input(group, arr_inp, arr_out):
    group = np.array(group)
    if len(group) >= 36:
        for i in range(len(group) - 3):
            cur_part = group[i:i+3, 1:]
            cur_shift = group[i+1:i+4, 1:5]
            arr_inp.append(list(cur_part))
            arr_out.append(list(cur_shift))
    elif len(group) >= 3:
        for i in range(len(group) - 2):
            cur_part = group[i:i+3, 1:]
            arr_inp.append(list(cur_part))
            cur_shift = []
            if i == len(group) - 3:
                cur_shift = list(group[i+1:i+3, 1:5])
                cur_shift.append([0,0,0,0])
            else:
                cur_shift = list(group[i+1:i+4, 1:5])
            arr_out.append(cur_shift)

In [197]:
nourhan = []
mariem = []
data_prep(complete_prod_train, nourhan, mariem)
print(nourhan[8])

[array([1284, 1.69392523364486, 0.130841121495327, 26, 9, 27, 2, 3, 17,
       39.970960001, -104.923990012, 39.95874, -104.92343, 4358, 760.4881,
       934.0413, 2841.9402595140637, 3126.395856934779, 3270.499448825574],
      dtype=object), array([936, 1.34722222222222, 0.0908119658119658, 16, 10, 27, 2, 3, 17,
       39.970960001, -104.923990012, 39.95874, -104.92343, 4358, 760.4881,
       934.0413, 2841.9402595140637, 3126.395856934779, 3270.499448825574],
      dtype=object), array([2737, 1.77603215199123, 0.0968213372305444, 19, 11, 27, 2, 3, 17,
       39.970960001, -104.923990012, 39.95874, -104.92343, 4358, 760.4881,
       934.0413, 2841.9402595140637, 3126.395856934779, 3270.499448825574],
      dtype=object)]

In [196]:
print(mariem[7])

[array([1284, 1.69392523364486, 0.130841121495327, 26], dtype=object), array([936, 1.34722222222222, 0.0908119658119658, 16], dtype=object), array([2737, 1.77603215199123, 0.0968213372305444, 19], dtype=object)]

#### Timestamp, Mapping basin names, Water_per_foot nan values
### Experiments:
set timestamp --> boolean greater than or equal 2014.
removed entries that last more than 3 years (try training after three years isA)
dropped completion date  because they are all after 1/1/2014 so no difference in drilling techniques
To be done: try out normalizing the features data (0->1)

In [92]:
harmony_data

,API,LATERAL_LENGTH_BLEND,PROP_PER_FOOT,WATER_PER_FOOT,GOR_30,GOR_60,GOR_90
0,05123371740000,9056,1025.86800,790.720500,2300.919963,2290.231375,2171.635752
1,05123377360000,4101,NaN,NaN,3786.669639,3838.096579,4012.142621
2,05123378210000,4161,916.08010,839.928000,2399.490505,2291.864862,2472.275585
3,05123378650100,4129,831.15310,NaN,3907.549121,4122.576934,4553.377380
4,05123380130000,4539,1032.23300,755.134300,1758.110773,1323.960532,1182.969280
5,05123331840000,4012,NaN,NaN,3247.303236,3476.586103,3580.817730
6,05123362810000,3880,NaN,NaN,1780.627782,1675.569468,1713.457431
7,05123378830000,5127,531.60080,821.062700,4896.290909,4854.557155,5284.324071
8,05123377810000,7225,661.58840,477.713800,5053.053374,5212.441012,5510.159831
9,05123375140000,4104,624.54440,997.516300,2970.478326,3008.072553,3049.710564
10,05123374220000,4133,938.73850,619.268500,1411.233248,1468.041421,1378.192731
11,05123374200000,3944,931.86360,585.588700,1346.452703,1300.433168,1410.099931
12,05123374170000,4207,861.66310,578.280500,1272.212243,1357.804519,1376.419721
13,05123372160000,3876,947.33310,621.963600,2452.484743,2683.870150,2810.944363
14,05123371790000,9213,957.76700,773.611800,2053.199692,2052.958282,2073.551543
15,05123370110000,4514,819.84940,1189.855000,11281.082529,10579.328597,10593.519723
16,05123385320000,6843,708.02060,694.884400,1341.377091,1147.261232,1197.119410
17,05123385750000,7280,952.87160,675.636400,1502.329521,1579.294428,1555.454249
18,05123387080000,4262,793.27440,461.601700,1680.006707,1666.250042,1833.351041
19,05123365290000,6677,256.01330,1075.095000,1835.337769,1927.799809,2428.131789
20,05123365200000,4101,351.37360,444.765400,11806.277587,11233.929922,11746.953471
21,05123352940000,4169,NaN,NaN,1750.763807,1771.865398,1652.633403
22,05123390330000,9188,969.56510,701.048400,2806.533533,2667.270024,3042.578591
23,05123367400000,3927,NaN,NaN,3308.574049,2762.579731,3162.784495
24,05123391720000,8918,538.92720,747.524000,2707.011961,3323.598535,3159.456035
25,05001097720000,4358,760.48810,934.041300,2841.940260,3126.395857,3270.499449
26,05123367730000,5880,1113.72100,1046.376000,1715.724923,1754.789036,1602.013457
27,05123369450000,3858,NaN,NaN,1127.823014,1070.502074,1109.397278
28,05123371100000,4241,556.31280,907.909600,2563.958166,2947.375856,2528.110076
29,05123371910000,5706,792.94960,1139.229000,6159.548355,6599.702934,7002.910913
...,...,...,...,...,...,...,...
8900,30015418130000,4260,1670.80900,1059.138000,1259.037121,1306.120612,1302.712045
8901,42173361720000,5075,1272.03600,1539.321000,3010.368409,3205.290747,3018.847700
8902,30015426650000,4356,1163.59000,750.981000,2695.297477,3347.871663,3883.655692
8903,30015409670000,4320,600.53530,520.955800,857.881363,932.318005,1089.386224
8904,42301326050000,4272,1067.87300,1890.633000,2771.537078,2877.297422,2911.481272
8905,30015417820000,4294,1251.85700,1028.827000,979.800499,780.215370,707.830269
8906,42105419660000,4744,951.87380,789.487800,3156.564475,2898.529626,2743.685160
8907,42227384160000,7028,1381.00800,1559.518000,898.648263,1002.508879,1094.222783
8908,42329341790100,5693,218.87350,960.278100,1274.511545,1810.982182,2118.347938
8909,30025409280000,4514,1889.52700,1663.029000,2233.517625,2814.849645,3162.966626
8910,30025408560000,4064,837.87070,0.260881,1548.304776,1025.931446,1121.603595
8911,30015420320000,4561,1528.33600,688.594600,2887.480190,3207.656106,3589.702897
8912,42475367000000,4552,1412.47200,1357.771000,1409.311087,1450.097034,1468.316484
8913,42329396330000,7352,1482.06600,2372.193000,NaN,NaN,NaN
8914,42389342610000,4014,1257.59100,1567.237000,778.576779,686.209168,642.989679
8915,42301321300000,3785,994.16320,679.350200,1857.514108,2038.664555,2148.900510
8916,42329390690100,9874,NaN,870.085300,1090.203990,1129.854787,1176.101664
8917,42389342580000,4171,1551.18200,1823.424000,2560.418493,2599.616536,2688.224701
8918,42109327740000,10241,1257.55200,1441.482000,5998.219444,5939.944218,5679.932569
8919,42461401270000,5069,2911.54600,1021.128000,1162.556594,1174.580649,1161.156744
8920,42389340390000,4030,1016.03700,1055.689000,1208.269282,1339.092448,1329.005540
8921,42383385550000,4350,1731.50800,1884.605000,2392.785283,2567.362429,3743.805021
8922,42495335540000,2814,86.68831,124.599200,6768.502072,7939.661799,10528.499157
8923,42389340600000,3599,1032.70400,1553.088000,961.324591,1092.389548,1074.566150
8924,30015427840000,4299,1161.23400,533.760100,997.370050,1307.696890,1238.353662
8925,42431334270000,7020,972.23490,903.003200,2938.742024,2903.233893,3203.228870
8926,42389337850000,4780,1152.15300,1325.482000,1937.109649,1952.656507,1957.311138
8927,42317397250000,6644,1389.54100,1698.614000,954.775769,1000.040109,1006.026725
8928,42317392430000,7217,1138.65700,1055.246000,1209.302326,1307.835729,1112.650711
8929,42329391100000,6564,907.24460,1289.684000,1300.730412,1118.066086,1163.142499